
    /* -------------------- CSS BY NAME -------------------------------------- */
    /* -------------------- IMPORTED FONTS -------------------------------------- */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
    /*-------------------- CSS RESET ---------------------------------------------------*/
    /* -------------------- IMPORTED FONTS -------------------- */


/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
    /* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    /*---------FONTS----------*/
    --large-header: kavoon, serif;
    --other-content: inter, sans-serif;
    /*---------COLORS---------*/
    --Teal :#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink: #D9526F;
    --Dark-gray:#1E1E1E; 
    --White: #ffffff; 
}
    /* --------------------GLOBAL STYLES (mobile first/small) --------------------*/


body {
    background-color: var(--Purple);
    display: grid;
    grid-template-columns: 1fr;
    
}

header h1 {
    position: relative;
    background-color: var(--Lavender);
    color: var(--White);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: var(--large-header);
    font-size: 3em;
    text-align: center;
    padding: 50px 0 25px 0;
    z-index: 2;
}
header p {
    background-color: var(--Pink);
    color: var(--White);
    font-family: var(--other-content);
    font-style: italic;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 25px 0 7px 0;
    margin: -10px 10px 40px 10px;
    z-index: 1;
}

span {
    display: none;
}

nav {
    position:fixed;
    top: 0;
    right: 0;
    z-index: 3;
}

nav h2 {
    background-color: var(--Yellow);
    color: var(--Dark-gray);
    font-family: var(--other-content);
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 12px;
}

.menu-links {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--Yellow);
    color: var(--Dark-gray);
    border-radius: 20px;
}

.menu-links a {
    display: inline-flex;
    background-color: var(--Yellow);
    color: var(--Dark-gray);
    font-family: var(--other-content);
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 10px;
}

#services h2 {
    color: var(--White);
    font-size: 2em;
    font-family: var(--large-header);
    padding: 0px 5px;
}

#services h3 {
    color: var(--Yellow);
    font-size: 1.5em;
    font-family: var(--other-content);
    font-weight: bold;
    padding: 5px 5px;
} 

#services h4 {
    color: var(--Purple);
    font-size: 1.15em;
    font-family: var(--other-content);
    font-weight: bold;
    padding: 0px 15px;
}

#services p {
    color: var(--Dark-gray);
    font-family: var(--other-content);
    line-height: 1.5;
    padding: 15px;
    
} 

#services .icon-container {
    background-color: var(--White);
    margin: 15px 20px;
    border-radius: 10px;
}

img {
    padding: 20px;
}

#choose-us {
    background-color: var(--Pink);
    padding: 14px 0 14px 0;
    
}

#choose-us ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#choose-us h2 {
    color: var(--White);
    font-size: 2em;
    font-family: var(--large-header);
    padding-left: 7px;
}

#choose-us li {
    color: var(--Dark-gray);
    font-family: var(--other-content);
    font-weight: bold;
    text-align: center;
    margin: 14px 7px 0 7px;
    padding: 30px 20px;
    border-radius: 10px;
}

#choose-us li:first-child { 
    background-color: var(--Teal);
}

#choose-us li:nth-child(2) {   
    background-color: var(--Lavender);
}

#choose-us li:nth-child(3) {
    background-color: var(--Yellow);
}

#choose-us li:last-child {
    background-color: var(--White);
}

#pricing h2 {
    color: var(--White);
    font-size: 2em;
    font-family: var(--large-header);
    padding: 7px;
}

#pricing h3 {
    color: var(--Yellow);
    font-size: 1.5em;
    font-family: var(--other-content);
    font-weight: bold;
    padding: 7px;
}

table {
    display: flex;
    justify-content: center;
}

 th, td {
    border: 2px solid var(--Yellow);
}

td {
    background-color: var(--White);
    color: var(--Dark-gray);
    font-family: var(--other-content);
    padding: 15px;
}

th {
    background-color: var(--Yellow);
    color: var(--Dark-gray);
    font-family: var(--other-content);
    font-weight: bold ;
    padding: 15px;
}

#first-steps {
    background-color: var(--Pink);
    padding: 5px 0 10px 0;
    margin: 10px 0 0 0;
    text-align: center;
}


#first-steps h2 {
    color: var(--White);
    font-size: 2em;
    font-family: var(--large-header);
    padding: 10px 5px;
    text-align: start;
}

#first-steps p {
    color: var(--White);
    font-family:  var(--other-content);
    line-height: 1.5;
    margin: 0 10px 12px 10px;
    text-align: start;
}


#first-steps a {
    display: inline-block;
    background-color: var(--White);
    color: var(--Dark-gray);
    font-family: var(--other-content);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
    width: 300px;
    height: 25px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px var(--Dark-gray);
    line-height: 1.5;
}

Footer {
    display: flex;
    justify-content: space-around;
    color: var(--White);
    font-family: var(--other-content);
    font-size: 0.8em;
    text-align: center;
    background-color: var(--Lavender);
    padding: 40px 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

footer a{
    color: var(--White);
}
    /*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width: 620px) {
    span {
        display: inline;
    }

    .solo-coach, .group-coach, .workshops, .courses{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #services h2 {
        grid-column: 1 / span 4;
    }

    #services h3 {
        grid-column: 1 / span 4;
    }

    .solo-coach .icon-container:nth-child(2){
        grid-column: 1 / span 2;
    }

    .solo-coach .icon-container:nth-child(3) {
        grid-column: 3 / span 2;
    }

    .solo-coach .icon-container:nth-child(4) {
        grid-column: 1 / span 4;
    }

    .group-coach .icon-container:nth-child(2){
        grid-column: 1 / span 2;
    }

    .group-coach .icon-container:nth-child(3){
        grid-column: 3 / span 2;
    }

    .workshops .icon-container:nth-child(2){
        grid-column: 1 / span 4;
    }

    .courses .icon-container:nth-child(2){
        grid-column: 1 / span 4;
    }
   
    #choose-us ul {
        display: grid;
        grid-template-columns: 1.3fr 1fr 1.3fr 1fr;
    }

    #choose-us h2 {
        grid-column: 1 / span 4;
    }

    #pricing {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #pricing h2 {
        grid-column: 1 / span 2;
    }

    #first-steps {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #first-steps h2 {
        grid-column: 1 / span 2;
    }
}
    /*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 950px) {
    nav h2 {
        display: none;
    }

    .menu-links {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu-links a {
        text-decoration: none;
        color: var(--Dark-gray);
        background-color: var(--Yellow);
        padding: 10px 20px;
        display: block;
        font-family: var(--other-content);
        font-size: 1em;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        text-transform: uppercase;
        border-radius: 0 0 10px 10px;
        white-space: nowrap;
    }

    .menu-links a:hover {
        color: var(--White);
    }
    
    #services {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    #services h3{
        white-space: nowrap;
        text-align: center;
    }

    #services h4{
        white-space: nowrap;
    }

    
    .solo-coach, .group-coach, .workshops, .courses{
        display: flex;
        flex-direction: column;
    }
    /*
    .solo-coach .icon-container:nth-child(2){
        grid-column: 1 / span 4;
    }

    .solo-coach .icon-container:nth-child(3) {
        grid-column: 1 / span 4;
    }

    .solo-coach .icon-container:nth-child(4) {
        grid-column: 1 / span 4;
    }

    .group-coach .icon-container:nth-child(2){
        grid-column: 1 / span 4;
        grid-row-start: 2;
    }

    .group-coach .icon-container:nth-child(3){
        grid-column: 1 / span 4;
    }

    .workshops .icon-container:nth-child(2){
        grid-column: 1 / span 4;
    }

    .courses .icon-container:nth-child(2){
        grid-column: 1 / span 4;
    }*/

    #choose-us ul{
        grid-template-columns: repeat(4, 1fr);
    }

    #pricing {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #pricing h2 {
        grid-column: 1 / span 4;
    }

}
    /*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width: 1280px) {
    body {
        width: 1280px;
        margin: auto;
    }
}